@model IEnumerable<BlinBerry.Services.Common.RecipeService.Models.RecipeDto>

@using BlinBerry.ViewModels;

@{
    ViewData["Title"] = "GetAllRecipes";
}

<h3 style="text-align: center">Рецепты</h3>
<br />
@foreach (var item in Model)
{
    <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-item-1">@item.Name</a>
    </div>

    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
        <h4 id="list-item-1">Рецепт : </h4>
        <h6>
            Яйцо  @item.Eggs штук
        </h6>
        <h6>
            Соль  @item.Salt гр
        </h6>
        <h6>
            Сода  @item.Soda гр
        </h6>
        <h6>
            Кефир  @item.Kefir литров
        </h6>
        <h6>
            Ванильный сахар  @item.Vanila гр
        </h6>
        <h6>
            Сахар  @item.Sugar кг
        </h6>
        <h6>
            Масло  @item.Oil литров
        </h6>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Изменить
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@item.Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="ChangeData">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Название рецепта</label>
                                <input type="text" class="form-control" value="@item.Name" id="name">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Яйцо</label>
                                <input type="text" class="form-control" value="@item.Eggs" id="egg">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Соль</label>
                                <input type="text" class="form-control" value="@item.Salt" id="salt">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Сода</label>
                                <input type="text" class="form-control" value="@item.Soda" id="soda">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Ванила</label>
                                <input type="text" class="form-control" value="@item.Vanila" id="vanila">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Сахар</label>
                                <input type="number" class="form-control" value="@item.Sugar" id="sugar">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Масло</label>
                                <input type="text" class="form-control" value="@item.Oil" id="oil">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Кефир</label>
                                <input type="text" class="form-control" value="@item.Kefir" id="kefir">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button onclick="saveChanges()" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>

    function saveChanges() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("ChangeData", "Recipe")",
            data: { eggs: $("#egg").val(), salt: $("#salt").val(), soda: $("#soda").val(), sugar: $("#sugar").val(), vanila: $("#vanila").val(), kefir: $("#kefir").val(), oil: $("#oil").val(), name: $("#name").val() },
            success: function (responce) {
                    window.location.href = '@Url.Action("GetAllRecipes", "Recipe")';
            }
        });
    }

</script>


